body {
    font-size: 14px;
}

#infolist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#infolist ul li {
  padding-top: 10px;
} 

.software li {
    padding-bottom: 8px;
}

.papers ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.papers ul li {
  padding-top: 8px;
  padding-bottom: 8px;
} 

.svg-icon{
  width:40px;
  height:40px;
  display:inline-block;
}

.svg-icon.github {
  background-image: url(github.svg);
}

.svg-icon.twitter {
  background-image: url(twitter.svg);
}

.svg-icon.scholar {
  background-image: url(googlescholar.svg);
}
